/* Existence Light */
@font-face {
  font-family: 'Existence-Light';
  src: url('Existence-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Liberation-Sans */
@font-face {
  font-family: 'Liberation-Sans';
  src: url('Liberation-Sans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Liberation-Sans-Bold */
@font-face {
    font-family: 'Liberation-Sans-Bold';
    src: url('Liberation-Sans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Liberation-Mono */
@font-face {
    font-family: 'Liberation-Mono';
    src: url('Liberation-Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import "http://fonts.googleapis.com/css?family=Metal:200,300,400,400,600,700";

head {
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  margin-top: 1%;
  margin-left: 2%;
  margin-bottom: 0.1%;
  font-family: 'Existence-Light';
  font-size: 400%;
}

h1 a{
  text-decoration: none;
  color: black;
}

h2 {
  width: 70vw;
  margin-top: 1%;
  padding-left: 3%;
  margin-bottom: 1%;
  font-family: 'Liberation-Sans-Bold';
  font-size: 200%;
  color: white;
  background: black;
}

.tuftsDaily {
  font-family: 'Metal';
  font-size: 300%;
  margin-left: 2%;
}

.aboutMain {
  margin-top: 0.1%;
  margin-left: 2%;
  width: 50%;
  position: absolute;
  top: 120px;
  left: 175px;
}

.aboutMain p{
  margin-top: 2%;
  margin-left: 2%;
  position: absolute;
  font-family: Helvetica;
  font-size: 120%;
}

.aboutMain img {
  height: 17em;
  position: relative;
  top: 1%;
  left: 110%;
}

.writingMain {
  margin-top: 0%;
  margin-left: 2%;
  width: inherit;
  position: absolute;
  top: 120px;
  left: 175px;
  font-family: 'Liberation-Sans';
}

.writingMain a{
  margin-top: 2%;
  margin-left: 2%;
  position: relative;
  font-family: 'Liberation-Sans-Bold';
  text-decoration: none;
  color: black;
}

.writingMain p{
  margin-top: 2%;
  margin-left: 2%;
  position: relative;
  text-decoration: none;
  color: black;
}

.box {
  left: 0px;
  margin-top: 0.1%;
  width: 100%;
  height: 10px;
  position: absolute;
}

.black {
  background: black;
}

.sidebar {
  top: 20px;
  left: 20px;
  width: 9%;
  position: relative;
  background: white;
}

.sidebar a {
  -moz-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  -webkit-transition: color .2s ease-in;

  -moz-transition: background .2s ease-in;
  -o-transition: background .2s ease-in;
  -webkit-transition: background .2s ease-in;

  background: white;
  padding-left: 10px;
  font-family: 'Liberation-Mono';
  font-size: 18pt;
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
}

.sidebar a:hover {
  padding-left: 10px;
  color: white;
  background: black;
  width: 100%;
}
