/* Existence Light */
@font-face {
  font-family: 'Existence-Light';
  src: url('Existence-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Liberation-Sans */
@font-face {
  font-family: 'Liberation-Sans';
  src: url('Liberation-Sans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Liberation-Sans-Bold */
@font-face {
    font-family: 'Liberation-Sans-Bold';
    src: url('Liberation-Sans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Liberation-Mono */
@font-face {
    font-family: 'Liberation-Mono';
    src: url('Liberation-Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import "http://fonts.googleapis.com/css?family=Metal:200,300,400,400,600,700";

head {
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  margin-top: 0%;
  margin-left: 2%;
  margin-bottom: 0.1%;
  font-family: 'Existence-Light';
  font-size: 400%;
}

h1 a{
  text-decoration: none;
  color: black;
}

h2 {
  margin-top: 1%;
  padding-left: 0.5em;
  margin-bottom: 1%;
  font-family: 'Liberation-Sans-Bold';
  font-size: 200%;
  color: white;
  background: black;
}

.aboutMain {
  margin-top: 0%;
  margin-left: 2%;
  width: inherit;
  position: absolute;
  top: 120px;
  left: 175px;
  font-family: 'Liberation-Sans';
}

.aboutMain p{
  margin-top: 0%;
  margin-left: 2%;
  width: 70%;
  position: absolute;
  font-family: 'Liberation-Sans';
  font-size: 120%;
}

.aboutMain img {
  height: 20em;
  position: relative;
  top: 2%;
  left: 75%;
}

.tuftsDaily {
  font-family: 'Metal';
  font-size: 200%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.writingMain {
  margin-top: 0%;
  padding-left: 2em;
  width: 80%;
  position: absolute;
  top: 1em;
  left: 8em;
  font-family: 'Liberation-Sans';
}

.writingContent{
  margin-top: 0;
  margin-left: 2em;
  position: relative;
  font-family: 'Liberation-Sans-Bold';
  text-decoration: none;
  color: black;
}

.writingContent a{
  margin-top: 0;
  position: relative;
  font-family: 'Liberation-Sans-Bold';
  text-decoration: none;
  color: black;
}

.resumeMain {
  margin-top: 0%;
  padding-left: 2em;
  width: 80%;
  position: absolute;
  top: 1em;
  left: 8em;
  font-family: 'Liberation-Sans';
}

.workplace {
  font-size: 120%;
  margin-top: 2%;
  margin-left: 2%;
  position: relative;
  display: inline;
}

.workplace ul{
  margin-top: 0.5%;
}

.contactMain {
  margin-top: 0%;
  padding-left: 2em;
  width: 80%;
  position: absolute;
  top: 1em;
  left: 8em;
  font-family: 'Liberation-Sans';
}

.contactMain p{
  margin-top: 0%;
  margin-left: 2%;
  width: inherit;
  position: absolute;
  font-size: 120%;
}

.contactMain a{
  position: relative;
  font-family: 'Liberation-Sans-Bold';
  text-decoration: none;
  color: black;
}

.fullScreen {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.box {
  left: 0px;
  margin-top: 0.1%;
  width: 100%;
  height: 10px;
  position: absolute;
}

.black {
  background: black;
}

.sidebar {
  top: 250%;
  left: 1em;
  width: 4em;
  position: relative;
  background: white;
  color: black;
  z-index: 9999;
}

.sidebar a {
  -moz-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  -webkit-transition: color .2s ease-in;

  -moz-transition: background .2s ease-in;
  -o-transition: background .2s ease-in;
  -webkit-transition: background .2s ease-in;

  padding: 0 0.5em 0 0.5em;
  color: black;
  background: white;
  font-family: 'Liberation-Mono';
  font-size: 18pt;
  text-decoration: none;
  display: block;
  width: 4em;
}

.sidebar a:hover {
  color: white;
  background: black;
  width: 4em;
  display: block;
}

.menu {
  right: 2%;
  top: 2%;
  position: absolute;
  display: inline;
}
